/* CSS reset start */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a {
  color: inherit;
}

/* a:visited {
  color: white;
} */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  scroll-behavior: smooth;
  scroll-margin: 60px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* CSS reset end */

/* Root variables start */
:root {
  --main-bg-color: black;
  --main-font-color: white;
  --link-hover-color: #5f5974;
  --main-item-color: #211f28;
  --icon-color: #E7D4D4;
  --second-bg-color: linear-gradient(to right, #211f28, #1a171c);
}

/* Root variables end */

/* Scroll styling start */
*::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  background: var(--main-bg-color);
}

::-webkit-scrollbar-thumb,
*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:hover,
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background-clip: content-box;
}

*::-webkit-scrollbar-corner {
  display: none;
}

/* Scroll styling end */


/* HTML styling start */
html {
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: 'Montserrat';
}

h1,
h2,
h3 {
  line-height: normal;
}

h1 {
  font-size: 60px;
  font-weight: 200;
}

h2 {
  font-size: 55px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.highlighted {
  font-weight: 400;
}

section {
  width: 1200px;
}



input,
textarea {
  background-color: var(--main-item-color);
  outline: none;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.24);
  font-size: 16px;
  border-radius: 8px;
  padding: 8px;
  height: 35px;
  transition: border 0.1s;
  color: var(--main-font-color);
  resize: none;
  font-family: 'Montserrat';
}


textarea::-webkit-scrollbar-track {
  margin: 5px 0;

}

textarea::-webkit-scrollbar {
  width: 4px;
}

input:focus,
textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.48);
  /* border: 2px solid var(--icon-color); */
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 150px;
}

/* HTML styling end */

/* Header start */
.header {
  width: 100%;
  height: 145px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 80px;
  box-sizing: border-box;
  padding: 0 50px;
}

.header-right {
  display: flex;
  column-gap: 80px;
}

.navigation-list {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  column-gap: 80px;
}

.navigation-element {
  text-transform: uppercase;
  transition: color 0.3s;
}

.navigation-element:hover {
  cursor: pointer;
  color: var(--link-hover-color);
}

.language-switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.language-splitter {
  height: 1.3em;
  width: 2px;
  border-radius: 20px;
  background-color: var(--main-font-color);
}

/* Header end */

/* Banner start */
.banner {
  width: 100%;
  height: calc(100vh - 145px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: -150px;
  background: linear-gradient(13deg, #211f28, rgba(0, 0, 0, 1) 70%);
}


.banner-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-container .button {
  align-self: flex-end;
}

.banner-content {
  width: 1050px;
  padding: 130px 72px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  /* backdrop-filter: blur(100px); */

}

/* Banner end */

/* Button start */
.button {
  padding: 12px 30px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 25px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-size: 200% auto;
  background-position: right;
  background-image: linear-gradient(to right, #7D8A97 0%, #E7D4D4 60%, #7D8A97 100%);
  transition: 0.3s;
  cursor: pointer;
}

.button svg {
  transition: 0.3s;
  color: var(--main-bg-color)
}

.button:hover {
  background-position: left;
}

.button:hover svg {
  transform: translateX(50%);
}

.button:active {
  opacity: 0.85;
}

.button:active svg {
  transform: translateX(70%);
}

/* Button end */


/* Why us start */
.why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

.why-us-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
}

.why-us-card {
  width: 300px;
  /* min-height: 150px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 15px;
  padding: 20px 25px;
  row-gap: 30px;
  transition: background-position 0.3s, border 0.3s;
  background-position: right;
  background-size: 200% auto;
  background-image: var(--second-bg-color);
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.why-us-card-header svg {
  transition: 0.3s;
}

svg {
  color: var(--icon-color);
}

.why-us-card:hover .why-us-card-header svg {
  transform: scale(1.4);
}

.why-us-card:hover {
  border: 1px solid rgba(255, 255, 255, 0.24);
  transform: scale(1.05) translateY(-5%);
  background-position: left;
}

.why-us-card-text {
  font-size: 14px;
  font-weight: 200;
  line-height: normal;
}

.why-us-card-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.why-us-card-header h3 {
  width: 75%;
}

/* Why us end */

/* FAQ start */
.faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 60px;
}

.question-answer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.question-answer-item {
  width: 950px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  background-position: right;
  background-size: 200% auto;
  background-image: var(--second-bg-color);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.question-answer-item:hover {
  background-position: left;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.question-answer-item-header {
  display: flex;
  justify-content: space-between;

}

.question-answer-item-text {
  padding-top: 20px;
}

.question-answer-item-arrow {
  min-width: 25px;
  transition: 0.3s;
}

.question-answer-item-arrow.open {
  transform: rotate(180deg);
}

/* FAQ end */

/* Services start */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 60px;
}

.service-viewer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.service-buttons {
  width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.service-button {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  /* background-color: var(--main-bg-color); */
  background-position: right;
  background-size: 200% auto;
  background-image: var(--second-bg-color);
  color: var(--main-font-color);
  cursor: pointer;
  transition: 0.3s;
  font-size: 16px;
}

.service-button:hover {
  background-position: left;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.service-button.active {
  color: var(--main-bg-color);
  background-image: linear-gradient(to right, #7D8A97 0%, #E7D4D4 60%, #7D8A97 100%);
}

.service-window {
  background-image: var(--second-bg-color);
  border-radius: 15px;
  width: 960px;
  display: flex;
  position: relative;
  overflow: hidden;
  justify-content: space-between;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.service-window-content {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.service-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 50px;
  width: 70%;
}

.service-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.service-right .button {
  width: 100%;
  justify-content: center;
}

.service-benefits {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.service-benefit {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.service-description {
  font-weight: 200;
  line-height: normal;
}

/* Services end */

/* Portfolio start */

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}


.projects-viewer {
  display: flex;
  justify-content: space-between;
  width: 1050px;
}

.project-viewer {
  width: 80%;
  overflow: hidden;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.24);
}

.content-container {
  border-radius: 20px;
  overflow: hidden;
  height: 480px;
  background-image: var(--second-bg-color);
  position: relative;
  cursor: pointer;
}

.content-container img,
.content-container video {
  position: absolute;
  /* height: 100%; */
  height: 480px;
  width: 840px;
  /* width: 425px; */
  object-fit: cover;
}

.arrow-container.left {
  top: 0;
  bottom: 0;
  margin: auto;
}

.arrow-container.right {
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.arrow-container.upper {
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.arrow-container.down {
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.arrow-container {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 10;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  border-radius: 50%;
  opacity: 0;
}

.arrow-container:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.content-container:hover .arrow-container,
.project-selector:hover .arrow-container {
  opacity: 1;
}


.content-container img {
  border-radius: 20px;
  height: 500px;
}

.project-selector {
  height: 480px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}

.project-selector-arrows-container {

  position: absolute;
  top: 0;
  bottom: 0;
}

.project-selector-container::-webkit-scrollbar {
  display: none;
}

.project-selector-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  position: relative;
  overflow-y: scroll;
  height: 100%;
}

.project-selector-container>* {
  user-select: none;
}

.project-selector-item {
  width: 180px;
  height: 90px;
  object-fit: cover;
  border-radius: 15px;
  /* transition: 0.3s; */
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.24);
  cursor: pointer;
  background-image: var(--second-bg-color);
}

.project-selector-item:hover {
  user-select: none;
  opacity: 0.6;
}

.project-selector-item:active {
  transform: scale(0.9);
}

/* Portfolio end */

/* Contact us start */
.contact-us {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  justify-content: center;
  align-items: center;
}

.contact-us-form-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  background: var(--second-bg-color);
  border-radius: 15px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.contacts-methods-list {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  /* row-gap: 30px; */
}

.contact-us-form input,
.contact-us-form textarea {
  width: 100%;
}

.contact-us-form input:not(:first-child),
.contact-us-form textarea {
  margin-top: 10px;
}

.contact-us-form textarea {
  height: 150px;
  margin-bottom: 30px;
}

.contact-us-form textarea::-webkit-scrollbar {
  background: transparent;

}

/* Contact us end */

/* Social button start */

.social-button {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s;
}

.social-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.24);
  transform: translateY(-5px);
}

.social-button.active {
  background-color: var(--link-hover-color);
}

.social-button:active {
  transform: scale(0.9);
}

.social-button svg {
  width: 30px;
  height: 30px;
}

/* Social button end */

/* Error message start */
.error-message {
  width: 100%;
  font-size: 12px;
  line-height: normal;
  min-height: 25px;
  text-align: start;
  box-sizing: border-box;
  padding: 5px 10px;
  color: #B5545F;
}

/* Error message end */

/* Social networks start */
.social-networks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 60px;
  margin-bottom: 100px;
}

.social-networks-list {
  display: flex;
  column-gap: 30px;
}

.social-networks-list .social-button {
  background-image: var(--second-bg-color)
}

/* Social networks end */

/* Brief start */
.brief {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
  position: relative;
}

.brief-container {
  background-image: var(--second-bg-color);
  border-radius: 15px;
  padding: 40px;
  display: flex;
  flex-direction: column-reverse;
  width: 55%;
  justify-content: center;
  align-items: center;
  row-gap: 60px;
}

.brief-top svg {
  transition: 0.3s;
}

.brief-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brief-container .button:hover~.brief-top svg {
  transform: scale(1.1) rotate(10deg);
}

.brief-container .button:active~.brief-top svg {
  transform: scale(1.2) rotate(15deg);
}

.brief-description {
  width: 60%;
  line-height: normal;
}

/* Brief end */

/* Lead magnet start */
.lead-magnet-container {
  width: 350px;
  position: fixed;
  right: 1%;
  bottom: 3%;
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background-image: var(--second-bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 40px;
  z-index: 10;
  transition: background-position 1s, border 0.3s;
  background-position: right;
  background-size: 200% auto;
}

.lead-magnet-container:hover {
  border: 1px solid rgba(255, 255, 255, 0.24);
  background-position: left;
}

.lead-magnet-content {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
  width: 100%;
}

.lead-magnet-header {
  display: flex;
  align-items: start;
  justify-content: space-between;
  line-height: normal;
  width: 100%;
  /* align-self: flex-end; */
}

.lead-magnet-header h4 {
  font-weight: 200;
}

.lead-magnet-header .highlighted {
  font-weight: 500;
}

.lead-magnet-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.lead-magnet-form>*:last-child {
  margin-top: 10px;
}

.lead-magnet-form input {
  width: 100%;
}

.exit-button {
  cursor: pointer;
  transition: 0.3s;
  opacity: 0.5;
  margin-left: auto;
}

.exit-button:hover {
  transform: scale(0.9);
  opacity: 1;
}

.exit-button:active {
  transform: scale(0.8);
}

.success-content h4 {
  text-align: center;
  line-height: normal;
}

/* Lead magnet end */